:root { 
--primary-text-color: #434455 ;
--title-text-color: #2E2F42 ;
--primary-brand-color: #4D5AE5 ;
--pressed-state-color: #404BBF ;
--success-color: #31D0AA ;
--subtle-text-color: #8E8F99 ;
--accent-color: #E7E9FC ;
--light-color: #F4F4FD ;
--white-background: #FFFFFF ;}



body {color:var(--primary-text-color);
background-color: var(--white-background);}

.list {list-style: none;}

/* nav-menu */
.logo {color: var(--title-text-color);}
.web {color: var(--primary-brand-color)}
.logo:hover {color: var(--pressed-state-color);}
.web {color: var(--primary-brand-color);}
.link {color: var(--title-text-color);}
.link:hover {color: var(--pressed-state-color);}

/* Hero*/
.hero-tiitle {color: var(--white-background);}

/* Section*/
.section-title {color: var(--title-text-color);}

/* Feachers */
.feachers-title {color: var(--title-text-color)}
.feachers-text {color: var(--primary-text-color);}