:root { 
--primary-text-color: #434455 ;
--title-text-color: #2E2F42 ;
--primary-brand-color: #4D5AE5 ;
--pressed-state-color: #404BBF ;
--success-color: #31D0AA ;
--subtle-text-color: #8E8F99 ;
--accent-color: #E7E9FC ;
--light-color: #F4F4FD ;
--white-background: #FFFFFF ;}



body {color:var(--primary-text-color);
background-color: var(--white-background);
font-family: roboto, arial;
letter-spacing: 0.02em;}

.list {list-style: none;}
.undecor {text-decoration: none;}

/* nav-menu */
.logo {color: var(--title-text-color);
font-family: 'Raleway';
letter-spacing: 0.03em;
font-weight: 800;
font-size: 18px;
line-height: 1,17;}

.web {color: var(--primary-brand-color)}
.logo:hover {color: var(--pressed-state-color);}
.web {color: var(--primary-brand-color);}
.link {color: var(--title-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1,5;}
.link:hover, .link:focus {color: var(--pressed-state-color);}
.link.current {color: var(--pressed-state-color);}
.address-link {color: var(--primary-text-color);
 font-size: 16px;
line-height: 1,5;}
.address-link:hover, .address-link:focus {color: var(--pressed-state-color);}

/* Hero*/
.hero-title {color: var(--white-background);
    background-color: var(--title-text-color);
font-weight: 700;
font-size: 56px;
line-height: 1,07;
text-align: center;}

/* Section*/
.section-title {color: var(--title-text-color);}

/* Feachers */
.feachers-title {color: var(--title-text-color)}
.feachers-text {color: var(--primary-text-color);}

/* Our Team */
.team-title {color: var(--title-text-color)}
.team-text {color: var(--primary-text-color)}

/* Footer */
.footer-logo {color: var(--light-color)}
.footer-text {color: var(--light-color)}

/* Button */
.button {color: var(--title-text-color); 
    background-color: var(--white-background);
letter-spacing: 0.04em;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1,5;}

.button.primary {color: var(--white-background);
background-color: var(--primary-brand-color);}
.button.primary:hover, .button.primary:focus {color: var(--pressed-state-color);}

.button.secondary {color: var(--primary-brand-color);
background-color: var(--light-color);}

/* Examples */
.example-title {color: var(--title-text-color);}
.example-post {color: var(--primary-text-color);}
.example-back {color: var(--light-color); background-color: var(--primary-brand-color);}